<%- include('../partials/header'); %>
      <div class="relative md:ml-64 bg-blueGray-50">
        <%- include('../partials/logout'); %>
        <h1 class="text-center font-bold text-lg">LISTA DE CLIENTES ACTIVOS</h1>
        <div class="container mx-40 shadow-md sm:rounded-lg">
            <% if(data.length) { %>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Nombre cliente
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Correo electronico
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Operador
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i< data.length; i++) { %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            <%= (i+1) %>
                        </th>
                        <td class="px-6 py-4">
                            <%= data[i].nombre %>
                        </td>
                        <td class="px-6 py-4">
                            <%= data[i].email %>
                        </td>
                        <td class="px-6 py-4">
                            <%= data[i].marca %>
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                    <% } %>
             
                </tbody>
            </table>
            <% } %>
            <!-- if result is empty -->
            <% if(!data.length) { %>
                <p class="text-center">No se encontraron registros</p>
            <% } %>
        </div>
      </div>
<%- include('../partials/footer'); %>